@use "./variables" as *;

.admin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  background-color: $color-background;
  border-radius: 10px;
  box-shadow: 0 0 10px $color-shadow;
}

.admin-section {
  width: 50%;
  margin-bottom: 40px;
}

.create-button {
  background-color: #007bff;
  color: $color-background;
  border: none;
  width: 150px;
  height: 40px;
}

.admin-section h1,
.admin-section h2 {
  margin-bottom: 20px;
}

.admin-section p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  height: fit-content;
  max-width: 150px;

  .adminTab {
    padding: 10px 20px;
    font-size: 1em;
    background-color: $color-surface;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;

    &.active {
      background-color: $color-background;
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  list-style-type: none;
  padding: 0;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $color-surface;
    width: 100%;
    background-color: $color-background;
    box-shadow: 0 1px 3px $color-shadow;
    border-radius: 5px;
    margin-bottom: 10px;

    span {
      flex-grow: 1;
    }

    .edit-button,
    .delete-button {
      padding: 5px 10px;
      font-size: 0.9em;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .edit-button {
      background-color: $color-primary;
      color: $color-background;

      &:hover {
        background-color: $color-primary-hover;
      }

      &:active {
        background-color: $color-primary-active;
      }
    }

    .delete-button {
      background-color: red;
      color: $color-background;

      &:hover {
        background-color: darken(red, 10%);
      }

      &:active {
        background-color: darken(red, 20%);
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: $color-background;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;

  .modal-close {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }

  .edit-form {
    overflow-y: auto;
    max-height: 500px;
  }

  .edit-form {
    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 95%;
        padding: 10px;
        border: 1px solid $color-surface;
        border-radius: 5px;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;

    .save-button,
    .cancel-button {
      padding: 10px 20px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .save-button {
      background-color: $color-primary;
      color: $color-background;

      &:hover {
        background-color: $color-primary-hover;
      }

      &:active {
        background-color: $color-primary-active;
      }
    }

    .cancel-button {
      background-color: $color-surface;
      color: $color-text-dark;

      &:hover {
        background-color: darken($color-surface, 10%);
      }

      &:active {
        background-color: darken($color-surface, 20%);
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .admin-section {
    width: 75%;
  }

  .item-list {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .admin-section {
    width: 90%;
  }
}