@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");

$font-family: 'MuseoModerno', sans-serif;
$coral: coral;
$border-color: rgb(250, 118, 70);
$white: white;
$black: black;
$backdrop-color: rgba(0, 0, 0, 0.5);
$box-shadow-color: rgba(0, 0, 0, 0.1);

body {
  font-family: $font-family;
}

header, nav {
  position: relative;
  width: 100%;
  height: 4.688rem;
  display: flex;
  align-items: center;
  background-color: $coral;
  border-bottom: 2px solid $border-color;
  animation: anim 0.2s;
}

.admin-header {
  position: relative;
  width: 100%;
  transition: all 0.3s ease;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

.navbar {
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  z-index: 1;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 77px;
  left: 0;
}

.header.scrolled {
  margin-top: 77px;
}

#logo, #logo-admin, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo, #logo-admin {
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-weight: 500;
    font-size: 20pt;
  }
}

#cart, #char {
  --invert: 0%;
  filter: invert(var(--invert));

  &:hover {
    --invert: 100%;
    transition: 0.2s;
  }
}

#menu-icon {
  display: none;

  &:hover {
    transition: 0.2s;
    filter: invert(100%);
  }
}

#cartAmountBubble {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#registerText, #logOut a {
  color: $coral;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  #nav-left, #nav-left-logout {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10%;
    width: 40%;
    z-index: 3;

    a {
      height: 100%;
      color: $white;
      text-decoration: none;
      margin: 0 10px 0 20px;
      font-weight: 500;
      font-size: 20pt;

      &:hover {
        border-bottom: 5px solid $white;
      }
    }
  }

  #nav-right, #nav-right-logout {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10%;
    width: 60%;

    button {
      border: none;
    }

    #sidebarButton {
      display: none;
    }

    #cartButton {
      margin-right: 15px;
    }

    img, svg {
      height: 40px;
      width: 40px;
    }
  }
}

#search, #searchMobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  height: 40px;
  width: 40%;
  margin-right: 20px;

  a {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 10px;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  #input-box {
    background-clip: text;
    position: absolute !important;
    left: 15px;
    font-size: 16px;
    display: flex;
    outline: none;
    border: none;
    height: 80%;
    width: calc(100% - 60px);
  }

  #input-logo {
    width: 25px;
    height: 25px;
    background: transparent no-repeat;
    background-size: 100%;
    margin: 0 5px 0 10px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      outline: none;
    }
  }

  input {
    border: none;
    background: none;
    color: inherit;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
}

#logoutButton {
  color: $white;
}

@media only screen and (min-width: 2560px) {

#logo, #logo-admin {

  a {
    font-size: 36pt;
  }
}

  header, nav {
  height: 8rem;
  background-color: $coral;
  border-bottom: 4px solid $border-color;
}

.navbar.scrolled {
  bottom: 77px;
}

nav {
  #nav-left, #nav-left-logout {
    margin-left: 10%;
    width: 40%;
    z-index: 3;

    a {
      margin: 0 10px 0 20px;
      font-size: 36pt;

      &:hover {
        border-bottom: 5px solid $white;
      }
    }
  }

  #nav-right, #nav-right-logout {
    margin-right: 10%;
    width: 60%;

    #cartButton {
      margin-right: 15px;
    }

    img, svg {
      height: 70px;
      width: 70px;
    }
  }
}

#search {
  width: 50%;
  height: 75px;

  a svg {
    height: 50px;
    width: 50px;
  }
}

  #input-box {
    background-clip: text;
    position: absolute !important;
    left: 15px;
    font-size: 36px !important;
    display: flex;
    outline: none;
    border: none;
    height: 80%;
    width: calc(100% - 60px);
  }

  #input-logo {
    width: 40px;
    height: 40px;
    background: transparent no-repeat;
    background-size: 100%;
    margin: 0 5px 0 10px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      outline: none;
    }
  }

  input {
    border: none;
    background: none;
    color: inherit;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  
}

@media only screen and (max-width: 1250px) {
  #cartContent {
    width: 100%;
  }

  .loginMenu, .cartMenu {
    max-width: 400px;
  }
}

@media only screen and (max-width: 850px) {
  .loginMenu, .cartMenu {
    max-width: 300px;
  }
  .cartItemDetails {
    flex-direction: column;
  }
}

@media only screen and (max-width: 750px) {
  .loginMenu, .cartMenu, .loginBackdrop.open, .cartBackdrop.open {
    display: none;
  }

  #nav-left {
    margin-left: 5% !important;
    width: 50% !important;
  }

  #nav-right {
    margin-right: 5% !important;
    width: 50% !important;
  }

  #nav-left a {
    font-size: 20px !important;
  }

  #nav-right img {
    width: 35px !important;
    height: 35px !important;
  }

  #sidebarButton {
    display: block !important;
  }

  #nav-right button {
    display: none;
  }

  #nav-right-logout button {
    display: block !important;
  }

  #search {
    display: none !important;
  }

  #searchMobile {
    display: flex;
    border: 2px solid coral;
    width: 100% !important;
    margin-bottom: 10px;
    margin-right: 0 !important;
  }

  #menu-icon {
    display: flex;
  }

  #nav-left-logout a {
    font-size: 16px !important;
  }
  #nav-right-logout {
    margin-right: 5% !important;
  }

  .checkoutButton {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .sidebarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebarMenu.open {
    transform: translateX(0);
  }

  .sidebarMenu .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .sidebarMenu #menuContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    max-width: 250px;
  }

  .sidebarMenu .loginMenu,
  .sidebarMenu #cartContent,
  #forgotPasswordForm {
    width: 100%;
  }

  .loginMenu form, #cartContent {
    margin-top: 0 !important;
}

  .sidebarMenu .form-group {
    display: flex;
    justify-content: center;
  }

  .sidebarMenu .form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .sidebarMenu .form-button {
    width: 100%;
    padding: 0.5rem;
  }

  .sidebarMenu #forgotPasswordForm {
    text-align: center;
  }

  .sidebarMenu #welcome-container {
    text-align: center;
  }

  .sidebarMenu #cartContentItems {
    ul {
      list-style: none;
      padding: 0;

      .cartItem {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .cartItemImageContainer {
          flex-shrink: 0;
          margin-right: 0.5rem;

          .cartItemImage {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }

        .cartItemDetails {
          .cartItemLink {
            text-decoration: none;
            color: inherit;
          }

          .cartItemButtons {
            display: flex;
            gap: 0.5rem;
            button {
              padding: 0.25rem 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-height: 500px) {
  #menuContent {
    margin-top: 20px !important;
  }
}