@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");
body {
  font-family: "MuseoModerno", sans-serif;
}

header, nav {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: coral;
  border-bottom: 2px solid rgb(250, 118, 70);
  animation: anim 0.2s;
}

#logo, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo {
  justify-content: center;
}
#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20pt;
}

#cart, #char {
  --invert: 0%;
  filter: invert(var(--invert));
}
#cart:hover, #char:hover {
  --invert: 100%;
  transition: 0.2s;
}

#menu-icon {
  display: none;
}
#menu-icon:hover {
  transition: 0.2s;
  filter: invert(100%);
}

#cartAmountBubble {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email, #password {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-size: 14px;
}
#email:focus, #password:focus {
  border-color: coral;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 79, 0.8);
}

#registerText, #logOut a {
  color: coral;
  text-decoration: none;
}
#registerText:hover, #logOut a:hover {
  text-decoration: underline;
}

#sidebar {
  display: none;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 60px - 90px);
  background-color: rgba(255, 100, 70, 0.9);
}
#sidebar div {
  display: flex;
  flex-direction: column;
}
#sidebar div div {
  flex-direction: row;
  justify-content: center;
}
#sidebar div div input {
  width: 30px;
}
#sidebar div div a {
  color: black;
}

nav #nav-left {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  width: 40%;
}
nav #nav-left a {
  height: 100%;
  color: white;
  text-decoration: none;
  margin: 0 10px 0 20px;
  font-weight: 500;
  font-size: 20pt;
}
nav #nav-left a:hover {
  border-bottom: 5px solid white;
}
nav #nav-right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10%;
  width: 60%;
}
nav #nav-right button {
  border: none;
}
nav #nav-right #search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  margin-right: 20px;
}
nav #nav-right #search a {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 10px;
}
nav #nav-right #search a img {
  height: 30px;
  width: 30px;
}
nav #nav-right #search #input-box {
  display: flex;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  background-position: 98% center;
  padding-left: 5px;
}
nav #nav-right #search #input-logo {
  width: 25px;
  height: 25px;
  background: transparent no-repeat;
  background-size: 100%;
  margin: 0 5px 0 10px;
  border: none;
  outline: none;
}
nav #nav-right #search #input-logo:hover {
  cursor: pointer;
}
nav #nav-right #search #input-logo:active {
  outline: none;
}
nav #nav-right #cartButton {
  margin-right: 15px;
}
nav #nav-right img {
  height: 40px;
  width: 40px;
}

.loginBackdrop, .cartBackdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loginBackdrop.open, .cartBackdrop.open {
  opacity: 1;
  visibility: visible;
}

.loginMenu, .cartMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 101;
  max-width: 500px;
  width: 100%;
  position: fixed;
  right: -500px;
  top: 0;
  height: 100%;
}

.loginMenu form, #cartContent {
  margin-top: 75px;
}

.loginBackdrop.open .loginMenu, .cartBackdrop.open .cartMenu {
  right: 0;
}

.loginMenu h2, .cartMenu h2 {
  color: coral;
  margin-bottom: 20px;
}

.form-group, .cartContent {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-size: 14px;
}
.form-input:focus {
  border-color: coral;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 79, 0.8);
}

.form-button {
  width: 100%;
  background-color: coral;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MuseoModerno", sans-serif;
  font-size: 16px;
}
.form-button:hover {
  background-color: #ff5a1d;
}

.register-link {
  color: coral;
  text-decoration: none;
  font-family: "MuseoModerno", sans-serif;
}
.register-link:hover {
  text-decoration: underline;
}

#cartContent {
  width: 80%;
}

#cartContentItems {
  height: 50%;
  overflow-y: auto;
  overflow-x: clip;
}

.cartContent ul {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.cartItem:last-child {
  border-bottom: none;
}
.cartItem .cartItemImageContainer {
  flex: 0 0 auto;
  margin-right: 10px;
  padding-right: 10px;
}
.cartItem .cartItemImageContainer .cartItemImage {
  max-width: 80px;
  height: auto;
  display: block;
}
.cartItem .cartItemDetails {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.cartItem .cartItemDetails .cartItemLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.cartItem .cartItemDetails .cartItemLink:hover {
  text-decoration: underline;
}
.cartItem .cartItemDetails .cartItemName {
  margin-right: 10px;
  font-size: 16px;
}
.cartItem .cartItemDetails .cartItemQuantity {
  margin-right: 10px;
  font-size: 14px;
}
.cartItem .cartItemDetails .cartItemButtons {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.cartItem .cartItemDetails .cartItemButtons button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cartItemLink {
  flex: 1;
  color: black;
  text-decoration: none;
  font-family: "MuseoModerno", sans-serif;
}
.cartItemLink:hover {
  text-decoration: underline;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
.iconButton:hover {
  color: coral;
}

.totalPrice {
  margin-top: 25px;
}

.checkoutButtonContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.checkoutButton {
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MuseoModerno", sans-serif;
  font-size: 16px;
}
.checkoutButton:hover {
  background-color: #ff5a1d;
}

.closeButton {
  display: flex;
  justify-content: end;
}

.closeButton button {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  color: coral;
  font-size: 36px;
  border: none;
  background: none;
}

.closeButton:hover {
  color: darkorange;
}

@media only screen and (max-width: 1250px) {
  #cartContent {
    width: 100%;
  }
  .loginMenu, .cartMenu {
    max-width: 400px;
  }
}
@media only screen and (max-width: 850px) {
  .loginMenu, .cartMenu {
    max-width: 300px;
  }
  .cartItemDetails {
    flex-direction: column;
  }
  #cartContentItems {
    height: 40%;
  }
}
@media only screen and (max-width: 750px) {
  .loginMenu, .cartMenu, .loginBackdrop.open, .cartBackdrop.open {
    display: none;
  }
  #nav-left {
    margin-left: 5% !important;
  }
  #nav-right {
    margin-right: 5% !important;
  }
  #nav-left a {
    font-size: 20px !important;
  }
  #nav-right img {
    width: 35px !important;
    height: 35px !important;
  }
  #nav-right button,
  #search {
    display: none !important;
  }
  #search {
    display: none;
  }
  #menu-icon {
    display: flex;
  }
}

/*# sourceMappingURL=header.css.map */
