@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");
body {
  font-family: "MuseoModerno", sans-serif;
}

header, nav {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: coral;
  border-bottom: 2px solid rgb(250, 118, 70);
  animation: anim 0.2s;
}

.admin-header {
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
}
.admin-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#logo, #logo-admin, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo, #logo-admin {
  justify-content: center;
}
#logo a, #logo-admin a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20pt;
}

#cart, #char {
  --invert: 0%;
  filter: invert(var(--invert));
}
#cart:hover, #char:hover {
  --invert: 100%;
  transition: 0.2s;
}

#menu-icon {
  display: none;
}
#menu-icon:hover {
  transition: 0.2s;
  filter: invert(100%);
}

#cartAmountBubble {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email, #password {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-size: 14px;
}
#email:focus, #password:focus {
  border-color: coral;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 79, 0.8);
}

#registerText, #logOut a {
  color: coral;
  text-decoration: none;
}
#registerText:hover, #logOut a:hover {
  text-decoration: underline;
}

nav #nav-left, nav #nav-left-logout {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  width: 40%;
  z-index: 3;
}
nav #nav-left a, nav #nav-left-logout a {
  height: 100%;
  color: white;
  text-decoration: none;
  margin: 0 10px 0 20px;
  font-weight: 500;
  font-size: 20pt;
}
nav #nav-left a:hover, nav #nav-left-logout a:hover {
  border-bottom: 5px solid white;
}
nav #nav-right, nav #nav-right-logout {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10%;
  width: 60%;
}
nav #nav-right button, nav #nav-right-logout button {
  border: none;
}
nav #nav-right #sidebarButton, nav #nav-right-logout #sidebarButton {
  display: none;
}
nav #nav-right #cartButton, nav #nav-right-logout #cartButton {
  margin-right: 15px;
}
nav #nav-right img, nav #nav-right-logout img {
  height: 40px;
  width: 40px;
}

#search, #searchMobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 40px;
  width: 40%;
  margin-right: 20px;
}
#search a, #searchMobile a {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 10px;
}
#search a img, #searchMobile a img {
  height: 30px;
  width: 30px;
}
#search #input-box, #searchMobile #input-box {
  position: absolute !important;
  left: 15px;
  display: flex;
  outline: none;
  border: none;
  height: 80%;
  width: calc(100% - 60px);
}
#search #input-logo, #searchMobile #input-logo {
  width: 25px;
  height: 25px;
  background: transparent no-repeat;
  background-size: 100%;
  margin: 0 5px 0 10px;
  border: none;
  outline: none;
}
#search #input-logo:hover, #searchMobile #input-logo:hover {
  cursor: pointer;
}
#search #input-logo:active, #searchMobile #input-logo:active {
  outline: none;
}

#logoutButton {
  color: white;
}

.loginBackdrop, .cartBackdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loginBackdrop.open, .cartBackdrop.open {
  opacity: 1;
  visibility: visible;
}

.loginMenu, .cartMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 101;
  max-width: 500px;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.sidebarMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.sidebarMenu.open {
  transform: translateX(0);
}
.sidebarMenu .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sidebarMenu .closeButton button {
  font-size: 1.5rem;
}
.sidebarMenu .closeButton img {
  top: 10px;
  right: 10px;
  width: 30px;
}
.sidebarMenu #menuContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.sidebarMenu #menuContent #loginMobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarMenu #menuContent .loginMenu,
.sidebarMenu #menuContent #cartContent {
  width: 100%;
  margin-bottom: 1rem;
}
.sidebarMenu #menuContent .form-group {
  margin-bottom: 1rem;
}
.sidebarMenu #menuContent .form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.sidebarMenu #menuContent .form-button {
  width: 100%;
  padding: 0.5rem;
}
.sidebarMenu #menuContent .register-link {
  margin-top: 0.5rem;
  display: block;
}
.sidebarMenu #menuContent #forgotPasswordForm {
  text-align: center;
}
.sidebarMenu #menuContent #welcome-container {
  text-align: center;
}
.sidebarMenu #menuContent #cartContentItems ul {
  list-style: none;
  padding: 0;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem .cartItemImageContainer {
  flex-shrink: 0;
  margin-right: 0.5rem;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem .cartItemImageContainer .cartItemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem .cartItemDetails .cartItemLink {
  text-decoration: none;
  color: inherit;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem .cartItemDetails .cartItemButtons {
  display: flex;
  gap: 0.5rem;
}
.sidebarMenu #menuContent #cartContentItems ul .cartItem .cartItemDetails .cartItemButtons button {
  padding: 0.25rem 0.5rem;
}
.sidebarMenu #menuContent .totalPrice {
  margin-top: 1rem;
}
.sidebarMenu #menuContent .checkoutButtonContainer {
  margin-top: 1rem;
}

#forgotPasswordForm {
  width: 50%;
}

.loginMenu form, #cartContent {
  margin-top: 75px;
}

.loginBackdrop.open .loginMenu, .cartBackdrop.open .cartMenu {
  right: 0;
}

.loginMenu h2, .cartMenu h2 {
  color: coral;
  margin-bottom: 20px;
}

.form-group, .cartContent {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "MuseoModerno", sans-serif;
  font-size: 14px;
}
.form-input:focus {
  border-color: coral;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 79, 0.8);
}

.form-button {
  width: 100%;
  background-color: coral;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MuseoModerno", sans-serif;
  font-size: 16px;
}
.form-button:hover {
  background-color: #ff5a1d;
}

.register-link {
  color: coral;
  border: none;
  text-decoration: none;
  font-family: "MuseoModerno", sans-serif;
}
.register-link:hover {
  text-decoration: underline;
}

#cartContent {
  width: 80%;
}

#cartContentItems {
  height: 50%;
  overflow-y: auto;
  overflow-x: clip;
}

.cartContent ul {
  list-style-type: none;
  padding: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.cartItem:last-child {
  border-bottom: none;
}
.cartItem .cartItemImageContainer {
  flex: 0 0 auto;
  margin-right: 10px;
  padding-right: 10px;
}
.cartItem .cartItemImageContainer .cartItemImage {
  max-width: 80px;
  height: auto;
  display: block;
}
.cartItem .cartItemDetails {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.cartItem .cartItemDetails .cartItemLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.cartItem .cartItemDetails .cartItemLink:hover {
  text-decoration: underline;
}
.cartItem .cartItemDetails .cartItemName {
  margin-right: 10px;
  font-size: 16px;
}
.cartItem .cartItemDetails .cartItemQuantity {
  margin-right: 10px;
  font-size: 14px;
}
.cartItem .cartItemDetails .cartItemButtons {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.cartItem .cartItemDetails .cartItemButtons button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cartItemLink {
  flex: 1;
  color: black;
  text-decoration: none;
  font-family: "MuseoModerno", sans-serif;
}
.cartItemLink:hover {
  text-decoration: underline;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
.iconButton:hover {
  color: coral;
}

.totalPrice {
  margin-top: 25px;
}

.checkoutButtonContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.checkoutButton {
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "MuseoModerno", sans-serif;
  font-size: 16px;
}
.checkoutButton:hover {
  background-color: #ff5a1d;
}

.closeButton {
  display: flex;
  justify-content: end;
}

.closeButton button {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  color: coral;
  font-size: 36px;
  border: none;
  background: none;
}

.closeButton:hover {
  color: darkorange;
}

#welcome-container {
  margin-top: 75px;
}
#welcome-container p {
  color: coral;
}
#welcome-container p a {
  color: deepskyblue;
  text-decoration: none;
}
#welcome-container button {
  margin-top: 30px;
}

@media only screen and (max-width: 1250px) {
  #cartContent {
    width: 100%;
  }
  .loginMenu, .cartMenu {
    max-width: 400px;
  }
}
@media only screen and (max-width: 850px) {
  .loginMenu, .cartMenu {
    max-width: 300px;
  }
  .cartItemDetails {
    flex-direction: column;
  }
  #cartContentItems {
    height: 40%;
  }
}
@media only screen and (max-width: 750px) {
  .loginMenu, .cartMenu, .loginBackdrop.open, .cartBackdrop.open {
    display: none;
  }
  #nav-left {
    margin-left: 5% !important;
    width: 50% !important;
  }
  #nav-right {
    margin-right: 5% !important;
    width: 50% !important;
  }
  #nav-left a {
    font-size: 20px !important;
  }
  #nav-right img {
    width: 35px !important;
    height: 35px !important;
  }
  #sidebarButton {
    display: block !important;
  }
  #nav-right button {
    display: none;
  }
  #nav-right-logout button {
    display: block !important;
  }
  #search {
    display: none !important;
  }
  #searchMobile {
    display: flex;
    border: 2px solid coral;
    width: 100% !important;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 0 !important;
  }
  #menu-icon {
    display: flex;
  }
  #nav-left-logout a {
    font-size: 16px !important;
  }
  #nav-right-logout {
    margin-right: 5% !important;
  }
}
@media only screen and (max-width: 750px) {
  .sidebarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .sidebarMenu.open {
    transform: translateX(0);
  }
  .sidebarMenu .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .sidebarMenu #menuContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin-top: 50px;
    padding: 1rem;
    overflow-y: scroll;
  }
  .sidebarMenu .loginMenu,
  .sidebarMenu #cartContent,
  #forgotPasswordForm {
    width: 100%;
  }
  .loginMenu form, #cartContent {
    margin-top: 0 !important;
  }
  .sidebarMenu .form-group {
    display: flex;
    justify-content: center;
  }
  .sidebarMenu .form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .sidebarMenu .form-button {
    width: 100%;
    padding: 0.5rem;
  }
  .sidebarMenu .register-link {
    margin-top: 0.5rem;
    display: block;
  }
  .sidebarMenu #forgotPasswordForm {
    text-align: center;
  }
  .sidebarMenu #welcome-container {
    text-align: center;
  }
  .sidebarMenu #cartContentItems ul {
    list-style: none;
    padding: 0;
  }
  .sidebarMenu #cartContentItems ul .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .sidebarMenu #cartContentItems ul .cartItem .cartItemImageContainer {
    flex-shrink: 0;
    margin-right: 0.5rem;
  }
  .sidebarMenu #cartContentItems ul .cartItem .cartItemImageContainer .cartItemImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .sidebarMenu #cartContentItems ul .cartItem .cartItemDetails .cartItemLink {
    text-decoration: none;
    color: inherit;
  }
  .sidebarMenu #cartContentItems ul .cartItem .cartItemDetails .cartItemButtons {
    display: flex;
    gap: 0.5rem;
  }
  .sidebarMenu #cartContentItems ul .cartItem .cartItemDetails .cartItemButtons button {
    padding: 0.25rem 0.5rem;
  }
  .sidebarMenu .totalPrice {
    margin-top: 1rem;
  }
  .sidebarMenu .checkoutButtonContainer {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=header.css.map */
