@use "./variables" as *;

.page-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @media only screen and (max-width: 1200px) {
    width: 60%;
  }

  @media only screen and (max-width: 900px) {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.tabs {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $color-border;

  @media only screen and (max-width: 500px) {
    width: 50%;
    margin-bottom: 20px;
  }
}

.tabs button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  width: 100%;

  &.active {
    background-color: $color-primary;
    color: $color-background;
  }

  &:hover:not(.active) {
    background-color: $color-border-light;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.content {
  width: 50%;
}

#userForm,
#purchaseHistory {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $color-primary;
    font-size: 24px;
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="password"],
  input[type="button"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid $color-border;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="text"][readonly] {
    background-color: $color-surface;
    color: $color-text-dark;
  }

  input[type="button"] {
    background-color: $color-primary;
    color: $color-background;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-primary-hover;
    }

    &:active {
      background-color: $color-primary-active;
    }
  }

  .delete-button {
    background-color: $color-error;
    color: $color-background;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;

    &:hover {
      background-color: $color-error-dark;
    }

    &:active {
      background-color: darken($color-error-dark, 10%);
    }
  }

  .order {
    list-style: none;
    border-bottom: 2px solid $color-primary;
    padding: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px $color-shadow;
  }
}

.order ul,
.order li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .page-container {
    flex-direction: column;
    align-items: center;
  }

  .tabs {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
  }
}