.product-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  
    .product-image {
      margin-right: 20px;
      img {
        max-width: 300px;
        height: auto;
      }
    }
  
    .separator {
      border-left: 1px solid #ccc;
      height: 300px;
      margin: 0 20px;
    }
  
    .product-details {
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
  
      .add-to-cart-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  
  .product-description {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    width: 60%;
    margin: auto;
  
    p {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .product-page {
      flex-direction: column;
    }
    .separator {
      height: 0 !important;
    }
    .product-image {
      margin-right: 0 !important;
    }
    .product-description {
      width: 80%;
    }
  }

@media only screen and (min-width: 2560px) {

.product-page {

    margin-top: 50px;
  
    .product-image {
      margin-right: 40px !important;
      img {
        max-width: 600px !important;
      }
    }
  
    .separator {
      border-left: 2px solid #ccc;
      height: 600px;
      margin: 0 20px;
    }
  
    .product-details {
      h1 {
        font-size: 48px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 36px;
        margin-bottom: 20px;
      }
  
      .add-to-cart-button {
        padding: 20px 40px;
        font-size: 36px;
      }
    }
  }
  
  .product-description {
    margin-top: 30px;
    font-size: 36px;
    line-height: 1.6;
    width: 60%;
    margin: auto;
  
    p {
      margin-bottom: 15px;
    }
  }

}
