$font-family: MuseoModerno, sans-serif;
$coral: coral;
$gray: gray;
$white: white;

#registerForm {
    margin: 25px auto 0;
    width: 50%;
  
    div {
      flex-direction: column;
      align-items: center;
  
      h2 {
        color: $coral;
      }
  
      input[type=text], input[type=password], input[type=date] {
        width: 250px;
        height: 40px;
        padding: 10px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: $gray;
        outline: none;
        font-family: $font-family;
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    
        &.registerError {
            border-color: red;
        }
    }
    
    }

    #registerButton {
        margin: 25px 0;
        width: 175px;
        height: 35px;
        background-color: $coral;
        color: $white;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgb(232, 116, 74);
        }

        &:active {
          background-color: rgb(216, 107, 68);
        }
    }
  
    #registerText {
      font-size: 12px;
      margin-top: 10px;
    }
  }
  
  #registerForm div {
    margin-bottom: 5px;
  }

  #registerForm div input {
    height: 20px;
  }

  @media only screen and (max-width: 600px) {
    #registerForm {
      width: auto;
    }
  }

  @media only screen and (min-width: 2560px) {
  #registerForm {
    margin: 100px auto;
    width: 38%;

    p {
      font-size: 36px;
    }
    
    div {
      gap: 18px;
      h2 {
        font-size: 48px;
        line-height: 1.2;
      }

      input[type=text],
      input[type=password],
      input[type=date] {
        width: 600px;
        padding: 22px;
        font-size: 28px;
        border-radius: 6px;
      }
    }

    #registerButton {
      margin-top: 75px;
      width: 450px;
      height: 100px;
      padding: 18px 28px;
      font-size: 36px;
      border-radius: 10px;
    }

    #registerText {
      font-size: 22px;
      margin-top: 20px;
      line-height: 1.5;
    }
  }

  #registerForm div input {
    height: auto;
    min-height: 60px;
  }
}
