@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");

$font-family: MuseoModerno, sans-serif;
$coral: coral;
$border-color: rgb(250, 118, 70);
$white: white;
$black: black;
$gray: gray;
$purple: purple;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

button {
  background: none;
  cursor: pointer;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: rgb(245, 245, 245);
}

#articleForm, #descriptionText, #article, #description, #buyDiv, #articles, 
#supportText, .row, .item, .buyButton, #cartMenu, #loginMenu, #loginRegister, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articleForm {
  margin: 100px auto 0;
  width: 50%;
}

#descriptionText {
  border: 1px solid $gray;
  background-color: $white;
  margin: 25px auto;
  width: 50%;
}

#article {
  flex-direction: column;
  background-color: $white;
  margin: auto;
  width: 20%;

  img {
    justify-content: center;
    width: 100%;
  }
}

#description {
  flex-direction: column;

  div {
    flex-direction: row;
    justify-content: center;
    height: 30px;

    select {
      margin-top: 25px;
      width: 120px;
      height: 30px;
    }
  }

  #colorDiv div {
    background-color: aqua;
    width: 30px;
    border-radius: 100%;
  }

  #quantity {
    border: 1px solid $coral;
  }

  h2 {
    background-color: $purple;
  }
}

.admin-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.admin-header {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: $coral;
  border-bottom: 2px solid $border-color;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $white;
  font-weight: 500;
  font-size: 20pt;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-left {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  width: 40%;
}

#nav-left a {
  height: 100%;
  color: $white;
  text-decoration: none;
  margin: 0 10px 0 20px;
  font-weight: 500;
  font-size: 20pt;

  &:hover {
    border-bottom: 5px solid $white;
  }
}

#nav-right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10%;
  width: 60%;
}

.admin-main {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-section {
  margin-bottom: 40px;
}

.admin-section h1,
.admin-section h2 {
  margin-bottom: 20px;
}

.admin-section p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.add-button {
  padding: 10px 20px;
  font-size: 1em;
  color: $white;
  background-color: $coral;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(232, 116, 74);
  }

  &:active {
    background-color: rgb(216, 107, 68);
  }
}

.add-to-cart-button:hover {
  background-color: rgb(232, 116, 74);
}

.add-to-cart-button:active {
  background-color: rgb(216, 107, 68);
}

#supportText {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.row {
  justify-content: space-between;
  width: 100%;
}

.item {
  flex-direction: column;
  margin: 20px 0;
  text-decoration: none;
  color: $black;
  background-color: rgb(245, 245, 245);
  width: 25%;
  cursor: pointer;

  &:hover {
    background-color: rgb(235, 235, 235);
  }

  img {
    margin-top: 20px;
    object-fit: cover;
    height: auto;
    aspect-ratio: 3/4;
    width: 80%;
    background-size: 100%;
    background-position: center;
  }

  h1 {
    width: 75%;
  }
}

.buyButton {
  background-color: $coral;

  &:hover {
    background-color: rgb(232, 116, 74);
  }

  &:active {
    background-color: rgb(216, 107, 68);
  }
}

#cartMenu, #loginMenu {
  flex-direction: column;
  position: absolute;
  top: 184px;
  right: 10%;
  width: 250px;
  padding: 20px;
  border: 3px solid $coral;
  border-top: none;
  background-color: $white;
  z-index: 999;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.open {
    opacity: 1;
    transform: translateY(50px);
  }

  p {
    margin-bottom: 10px;
    font-weight: bold;
  }

  div div p {
    color: $coral;
  }
}

#cartContent div a {
  text-decoration: none;
  color: $black;
}

#basketButton, #loginButton {
  background-color: $coral;
  color: $white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(232, 116, 74);
  }

  &:active {
    background-color: rgb(216, 107, 68);
  }
}

#homePageLink {
  color: $black;
  size: 24px;
}

#noPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;

  div {
    width: 30%;
    min-width: 175px;
  }
}
