@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: MuseoModerno, sans-serif;
}

button {
  background: none;
  cursor: pointer;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, nav {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: coral;
  border-bottom: 2px solid rgb(250, 118, 70);
  animation: anim 0.2s;
}

#logo, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo {
  justify-content: center;
}
#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20pt;
}

nav #nav-left {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  width: 40%;
}
nav #nav-left a {
  height: 100%;
  color: white;
  text-decoration: none;
  margin: 0 10px 0 20px;
  font-weight: 500;
  font-size: 20pt;
}
nav #nav-left a:hover {
  border-bottom: 5px solid white;
}
nav #nav-right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10%;
  width: 60%;
}
nav #nav-right button {
  border: none;
}
nav #nav-right #search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  margin-right: 20px;
}
nav #nav-right #search a {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 10px;
}
nav #nav-right #search a img {
  height: 30px;
  width: 30px;
}
nav #nav-right #search #input-box {
  display: flex;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
  background-position: 98% center;
  padding-left: 5px;
}
nav #nav-right #search #input-logo {
  width: 25px;
  height: 25px;
  background: transparent no-repeat;
  background-size: 100%;
  margin: 0 5px 0 10px;
  border: none;
  outline: none;
}
nav #nav-right #search #input-logo:hover {
  cursor: pointer;
}
nav #nav-right #search #input-logo:active {
  outline: none;
}
nav #nav-right img {
  height: 40px;
  width: 40px;
}

#cart, #char {
  --invert: 0%;
  filter: invert(var(--invert));
}
#cart:hover, #char:hover {
  --invert: 100%;
  transition: 0.2s;
}

#menu-icon {
  display: none;
}
#menu-icon:hover {
  transition: 0.2s;
  filter: invert(100%);
}

#sidebar {
  display: none;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 60px - 90px);
  background-color: rgba(255, 100, 70, 0.9);
}
#sidebar div {
  display: flex;
  flex-direction: column;
}
#sidebar div div {
  flex-direction: row;
  justify-content: center;
}
#sidebar div div input {
  width: 30px;
}
#sidebar div div a {
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: rgb(245, 245, 245);
}

#searchArticles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 150px auto 50px;
  width: 80%;
  height: 100px;
  background-color: white;
}

select {
  border: none;
  outline: none;
}

.filter, #sort {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 35px;
  background-color: rgb(245, 245, 245);
}
.filter:hover, #sort:hover {
  cursor: pointer;
  border: 1px solid coral;
}

#articleForm, #descriptionText, #article, #description, #buyDiv, #articles,
#supportText, .row, .item, .buyButton, #cartMenu, #loginMenu, #loginRegister, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articleForm {
  margin: 100px auto 0;
  width: 50%;
}

#descriptionText {
  border: 1px solid gray;
  background-color: white;
  margin: 25px auto;
  width: 50%;
}

#article {
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 20%;
}
#article img {
  justify-content: center;
  width: 100%;
}

#description {
  flex-direction: column;
}
#description div {
  flex-direction: row;
  justify-content: center;
  height: 30px;
}
#description div select {
  margin-top: 25px;
  width: 120px;
  height: 30px;
}
#description #colorDiv div {
  background-color: aqua;
  width: 30px;
  border-radius: 100%;
}
#description #quantity {
  border: 1px solid coral;
}
#description h2 {
  background-color: purple;
}

#articles {
  flex-direction: column;
  margin: auto;
  min-height: calc(100vh - 60px - 150px);
  width: 80%;
}

#supportText {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.row {
  justify-content: space-between;
  width: 100%;
}

.item {
  flex-direction: column;
  margin: 20px 0;
  text-decoration: none;
  color: black;
  background-color: rgb(245, 245, 245);
  width: 25%;
  cursor: pointer;
}
.item:hover {
  background-color: rgb(235, 235, 235);
}
.item img {
  margin-top: 20px;
  object-fit: cover;
  height: auto;
  aspect-ratio: 3/4;
  width: 80%;
  background-size: 100%;
  background-position: center;
}
.item h1 {
  width: 75%;
}

.buyButton {
  background-color: coral;
}
.buyButton:hover {
  background-color: rgb(232, 116, 74);
}
.buyButton:active {
  background-color: rgb(216, 107, 68);
}

#cartMenu, #loginMenu {
  flex-direction: column;
  position: absolute;
  top: 184px;
  right: 10%;
  width: 250px;
  padding: 20px;
  border: 3px solid coral;
  border-top: none;
  background-color: white;
  z-index: 999;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#cartMenu.open, #loginMenu.open {
  opacity: 1;
  transform: translateY(50px);
}
#cartMenu p, #loginMenu p {
  margin-bottom: 10px;
  font-weight: bold;
}
#cartMenu div div p, #loginMenu div div p {
  color: coral;
}

#basketButton, #loginButton {
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#basketButton:hover, #loginButton:hover {
  background-color: rgb(232, 116, 74);
}
#basketButton:active, #loginButton:active {
  background-color: rgb(216, 107, 68);
}

#email, #password {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: MuseoModerno, sans-serif;
  font-size: 14px;
}
#email:focus, #password:focus {
  border-color: coral;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 79, 0.8);
}

#registerText, #logOut a {
  color: coral;
  text-decoration: none;
}
#registerText:hover, #logOut a:hover {
  text-decoration: underline;
}

#registerForm {
  margin: auto;
  margin-top: 25px;
  width: 400px;
  margin-bottom: 17px;
  padding: 10px;
}
#registerForm div {
  flex-direction: column;
  align-items: center;
}
#registerForm div h2 {
  color: coral;
}
#registerForm div input {
  width: 75%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  outline: none;
  font-family: MuseoModerno, sans-serif;
  font-size: 14px;
}
#registerForm div input[type=button] {
  width: 50%;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#registerForm div input[type=button]:hover {
  background-color: rgb(232, 116, 74);
}
#registerForm div input[type=button]:active {
  background-color: rgb(216, 107, 68);
}
#registerForm #registerText {
  font-size: 12px;
  margin-top: 10px;
}

#checkoutArticles {
  border-right: 2px solid coral;
}

#checkoutForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  padding: 20px;
}

#checkoutForm div {
  display: flex;
  width: 48%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#checkoutForm div img {
  height: 64px;
  width: 64px;
}

#checkoutForm h2 {
  color: coral;
  margin-bottom: 20px;
}

#checkoutForm input {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 8px 0;
  border: none;
  outline: none;
  font-family: MuseoModerno, sans-serif;
  font-size: 14px;
}

#checkoutForm input[type=text],
#checkoutForm input[type=date] {
  border-radius: 5px;
  border: 1px solid gray;
}

#shippingInfo, #paymentInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#shippingInfo input, #paymentInfo input {
  width: 100%;
}

#placeOrderButton {
  width: 100%;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#placeOrderButton:hover {
  background-color: rgb(232, 116, 74);
}

#placeOrderButton:active {
  background-color: rgb(216, 107, 68);
}

#passwordLogin, #name2 {
  padding-top: 10px;
}

#homePageLink {
  color: black;
  size: 24px;
}

#noPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#noPage div {
  width: 30%;
  min-width: 175px;
}

footer {
  display: flex;
  margin-top: auto;
  height: 150px;
  background-color: rgb(43, 43, 43);
  color: rgb(245, 245, 245);
}
footer div {
  display: flex;
  width: 80%;
}
footer div.footer-left {
  margin: auto;
  flex-direction: column;
  align-items: start;
  width: 50%;
  pointer-events: none;
  cursor: default;
}
footer div.footer-left a {
  text-decoration: none;
  color: white;
}
footer div.footer-middle {
  height: 64px;
  width: 64px;
}
footer div.footer-right {
  margin: auto;
  flex-direction: column;
  align-items: end;
  width: 50%;
}
footer div.footer-right a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 950px) {
  .item {
    width: 33.3333%;
  }
  #loginRegister {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .item {
    width: 50%;
  }
  .item img {
    height: 100%;
  }
  .filter, .filter option {
    font-size: 10px;
  }
  #cart, #char {
    display: none;
  }
  #menu-icon {
    display: flex;
    width: 37px;
    height: 22px;
    margin-right: 20px;
  }
  #nav-left {
    display: none;
  }
  #nav-right {
    width: 100%;
    margin: 0 0 0 20px;
  }
  #search {
    width: 100%;
  }
  #loginRegister {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .item img {
    height: 90%;
  }
  #articleForm {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  #loginRegister {
    width: 90%;
  }
}
@media only screen and (max-width: 335px) {
  .item img {
    height: 40%;
    width: 85%;
    background-size: cover;
  }
  .filter, #sort {
    font-size: 12px;
  }
  .select select {
    font-size: 10px;
  }
  #logo a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
