@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

img, svg, video, canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  font-family: MuseoModerno, sans-serif;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: rgb(245, 245, 245);
}

#articleForm, #descriptionText, #article, #description, #buyDiv, #articles,
#supportText, .row, .item, .buyButton, #cartMenu, #loginMenu, #loginRegister, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articleForm {
  margin: 100px auto 0;
  width: 50%;
  max-width: 960px;
}

#descriptionText {
  border: 1px solid gray;
  background-color: white;
  margin: 25px auto;
  width: 50%;
  max-width: 960px;
}

#article {
  flex-direction: column;
  background-color: white;
  margin: auto;
  width: 20%;
  max-width: 384px;
}
#article img {
  justify-content: center;
  width: 100%;
}

#description {
  flex-direction: column;
}
#description div {
  flex-direction: row;
  justify-content: center;
  height: 30px;
}
#description div select {
  margin-top: 25px;
  width: 120px;
  height: 30px;
}
#description #colorDiv div {
  background-color: aqua;
  width: 30px;
  border-radius: 100%;
}
#description #quantity {
  border: 1px solid coral;
}
#description h2 {
  background-color: purple;
}

.add-to-cart-button:hover {
  background-color: rgb(232, 116, 74);
}

.add-to-cart-button:active {
  background-color: rgb(216, 107, 68);
}

#supportText {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.row {
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  flex-direction: column;
  margin: 20px 0;
  text-decoration: none;
  color: black;
  background-color: rgb(245, 245, 245);
  width: 25%;
  max-width: 480px;
  flex: 1 1 25%;
  cursor: pointer;
}
.item:hover {
  background-color: rgb(235, 235, 235);
}
.item img {
  margin-top: 20px;
  object-fit: cover;
  height: auto;
  aspect-ratio: 3/4;
  width: 80%;
  background-size: 100%;
  background-position: center;
}
.item h1 {
  width: 75%;
}

.buyButton {
  background-color: coral;
}
.buyButton:hover {
  background-color: rgb(232, 116, 74);
}
.buyButton:active {
  background-color: rgb(216, 107, 68);
}

#cartContent div a {
  text-decoration: none;
  color: black;
}

#basketButton, #loginButton {
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#basketButton:hover, #loginButton:hover {
  background-color: rgb(232, 116, 74);
}
#basketButton:active, #loginButton:active {
  background-color: rgb(216, 107, 68);
}

#homePageLink {
  color: black;
  size: 24px;
}

#noPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
#noPage div {
  width: 30%;
  min-width: 175px;
  max-width: 576px;
}

@media (min-width: 1920px) {
  #articleForm, #descriptionText {
    max-width: 1100px;
  }
}

/*# sourceMappingURL=styles.css.map */
